<style>
  .grid {
    display: grid;
    /* each column is at least 150px, grows to fill space */
    grid-template-columns: repeat(auto-fit, minmax(750px, 1fr));
    gap: 1rem; /* space between items */
  }
  .grid > div {
    background: #000000;
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
    border-radius: 6px;
  }
</style>

<h1>2D Desmos graphs</h1>
<div class="grid">
  <div>{% include desmos/2d_graphs/orange_cat.html %}</div>
  <div>{% include desmos/2d_graphs/pizza.html %}</div>
  <div>{% include desmos/2d_graphs/watermelon.html %}</div>
</div>
